wandb*
*.npz
reg_*
__pycache__
ResNet*
slurm*
*.npz
*.png
test_data
.ipynb_checkpoints/*
sl_*
AOD_4ch.2679799
AOD_5ch.2679847
miniAOD_4ch.2679669
miniAOD_5ch.2678926
miniAOD_5ch.2678927
miniAOD_5ch.2679786
